#chart_div {
    width: 100%;
    height: 500px;
}

#info {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
    font-weight: bold;
}

/* Apply general styling to TreeMap text */
google-visualization-treemap-node,
google-visualization-treemap-node text {
    font-size: 14px !important;
    font-weight: bold !important;
}
