/* Base styles and reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Ensure no scrolling */
}

/* Header styling */
.header {
    width: 100%;
    background: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Main container styling */
.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: calc(100vh - 80px); /* Adjust for header height */
}

/* Navigation bar styling */
.nav {
    width: 150px; /* Slightly increased width */
    background: #f4f4f4;
    padding: 10px; /* Adjusted padding */
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
    height: 100%; /* Full height */
    overflow-y: auto;
}

.nav-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.nav button {
    padding: 10px;
    font-size: 14px; /* Adjusted font size */
    cursor: pointer;
    border: none;
    background: none;
    text-align: left;
    width: 100%;
    margin: 5px 0;
    color: #007385;
}

.nav button:hover {
    background-color: #e0e0e0;
}

.nav button.active {
    background-color: #d0d0d0;
    font-weight: bold;
}

/* Main content styling */
.main {
    flex: 1;
    padding: 10px; /* Adjusted padding */
    overflow-y: auto; /* Enable scrolling for main content */
    display: flex;
    flex-direction: column;
}

#d3_chart_div {
    flex: 1;
    width: 100%;
    max-height: 800px; /* Increased max height for the chart */
}

#info {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: black;
    min-height: 50px; /* Ensure space for the description */
}

.legend-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-anchor: middle;
    fill: black;
}


/* Responsive design for medium screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .nav {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    .main {
        padding: 10px;
    }

    #d3_chart_div {
        height: 600px; /* Adjusted for header and nav */
    }
}



/* Responsive design for small screens */
@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .nav button {
        font-size: 12px; /* Smaller font size for buttons */
        padding: 8px;
    }

    #info {
        font-size: 16px;
    }
}
